.nav_bar {
  border-bottom: 1px solid rgba(163, 163, 163, 0.5);
}

*:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.searchBox {
  border: none;
  outline: none;
}

.searchBox:focus {
  outline: none;
  outline-width: 0;
  outline-style: none;
}
