.profileCurrentJobClass:hover {
  color: black;
  /* background-color: green; */
}

#desc {
  resize: none;
}

/* .editDiv:hover {
  background-color: rgb(138, 138, 138);
  opacity: 0.5;
}

.editDiv:hover .dummy {
  display: none;
} */
