@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(189, 195, 199, 0.3); */
}

.whiteBG {
  background-color: white;
  min-height: calc(100vh - 45px);
}

.font {
  font-family: "Montserrat", sans-serif;
}

input {
  margin-bottom: 3px;
}

.MuiSlider-thumbColorPrimary {
  background-color: red;
}

*:focus {
  outline: none;
}

.input {
  border: none;
}

.input:focus {
  border: none;
  -webkit-appearance: none;

  outline: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}
